<div class="about-body">	
	<div class="about-img col-10 offset-1">
	<br />
		<div class="frosty col-6 offset-3 text-center">
			<h1 class="about-title">Let Me tell You a Little bit</h1>
			<h1 class="about-title-us">About Us</h1>
		</div>
	</div>
	<br />
	<br />
	<div class="about-blurb">
		<div class="blurb-1">
			<div class="yah-box col-10 offset-1">
				<p class="text-center">Precision Pros Paintworks was founded by Corey Spencer</p>
			</div>
			<br />
			<div class="container">
				<div class="row">
					<div class="yah-box col-md-6">
						<p class="area-bla text-center">We Proudly Operate in The Clemson, SC area</p>
					</div>
					<div class="col-md-6">
						<%= image_tag 'clemson.jpg', class: 'img-fluid' %>
					</div>
				</div>
			</div>
			<br />
			<br />
			<div class="container">
				<div class="row">
					<div class="yah-box col-md-6">
						<p class="skills-bla text-center">We Boast having the following skills </p>
					</div>
					<div class="yah-box col-md-6">
						Picture Here
					</div>
				</div>
			</div>
				</div>
			</div>
		</div>
	</div>
</div>