<br>
<h1 class="home-title">Looking for the a <div class="pro">Professional?</div></h1>
<br>
<h1 class="home-title">Looking for someone with an eye for <div class="pro">Perfection?</div></h1>
<br>
<h1 class="home-title">Looking for the best <div class="pro">Quality</div> at a <div class="pro">Low-Rate?</div></h1>
<br>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  	<div class="carousel-item active">
	  	<%= image_tag 'slider1.jpg', class: 'd-block img-fluid' %>
		</div>
		<div class="carousel-item">
	  	<%= image_tag 'slider2.jpg', class: 'd-block img-fluid' %>
		</div>
		<div class="carousel-item">
	  	<%= image_tag 'slider3.jpg', class: 'd-block img-fluid' %>
		</div>
	</div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>

<h2 class="home-lower">Then look no further!!!</h2>
<br>
<p class="home-bla">We here at Precision Pros Paintworks take pride in our work and consider Customer Satisfaction to be the #1 priority</p>
<br>
<p class="home-bla">After viewing some of our work in the photos posted above if you would like a free consultation, leave us your contact information and a company represenative will contact you when they are done assisting other customers</p>