@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Livvic|Playfair+Display&display=swap');

.yah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 3px 3px 4px 0 black;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.clear {
	clear: both;
}

.navbar {
		background-color: #948a8a;
		color: #948a8a;
		box-shadow: 10px 10px 5px;
  	margin-bottom: 0;
}

.navbar-toggler {
	background-color: #ffffff;
}

.navbar-inverse .navbar-brand {
	font-family: 'Archivo Black', sans-serif;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 550px;
  width: 75%;
  margin: auto;
}

.carousel-caption {
	font-family: 'Livvic', sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel-item.active, 
.carousel-item-next, 
.carousel-item-prev {
  display: block;
}

.logo {
	height: 65px;
	width: 100px;
}

.nav-link {
	font-size: 35px;
	font-family: 'Livvic', sans-serif;
}
.home-title {
	font-size: 35px;
	text-align: center;
	font-family: 'Livvic', sans-serif;
}

.home-lower {
	font-size: 25px;
	text-align: center;
	font-family: 'Livvic', sans-serif;
}

.home-bla {
	font-size: 23px;
	text-align: center;
	font-family: 'Livvic', sans-serif;
}

.pro {
	font-size: 35px;
	text-align: center;
	font-family: 'Livvic', sans-serif;
	text-decoration: underline;
	font-weight: 150;
}

.about-title {
	color: #948a8a;
	font-weight: 150;
	font-size: 75px;
	text-align: center;
	text-shadow: 5px 5px #948a8a;
	font-family: 'Livvic', sans-serif;
}